<footer>
  <div class="f-info">
    <div class="f-info-socals">
        <a href="https://www.instagram.com/airbnb"><i class="fa-brands fa-square-instagram"></i></a>
        <a href="https://www.facebook.com/AirbnbIndia"><i class="fa-brands fa-square-facebook"></i></a>
        <a href="https://x.com/airbnb_in"><i class="fa-brands fa-x"></i></a>
    </div>
    <div class="f-info-brand">Airbnb-Clone Copyright &copy</div>
    <div class="f-info-links">
        <a href="/privacy">Privacy</a>
        <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
