<% layout('./layouts/boilerplate.ejs') -%>
<body>
  <div class="alert alert-danger" role="alert">
    <i class="fa-solid fa-triangle-exclamation"></i> Status Code: <%= statusCode
    %>, <%= message %>!
  </div>
  <p>
    You will be redirect in 3 sec if not
    <a href="/listing" class="error-go-back">click here</a>
  </p>
</body>
<!-- <script>
  setTimeout(() => {
    window.location.replace("/listing");
  }, 3000);
</script> -->
